* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3rem;
  margin: 10rem 50rem;
}

.card {
  height: 15rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9db2bf;
  grid-column: span 3;
  font-size: 1rem;
  padding: 5rem;
  box-shadow: 0.7rem 0.7rem 0 #27374d;
  border: 4px solid #526d82;
  gap: 1.5rem;
}
.card p,
.card a {
  line-height: 2rem;
  display: none;
}
.card.active p,
.card.active a {
  display: block;
}
.card.active {
  grid-column: 1 / span 6;
  grid-row: 1;
  order: 0;
  height: auto;
}
.card.is-inactive {
  grid-column: span 2;
}
